* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1c1c1c;
}

header {
  padding: 2.4rem;
  background-color: #0b0b0b;
  /* background-color: #e9ecef; */
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin: 1rem;
  /* max-width: 60rem; */
  /* max-width: 60rem; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  /* margin-bottom: 2.4rem; */
}

.movie-txt {
  box-sizing: border-box;
  /* width: 100%; */
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 9px;
  font-family: inherit;
  color: inherit;
  background-color: #e9ecef;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: 500;
  background: linear-gradient(to right, #99e9f2, #eebefa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
  position: absolute; /* Centers the item relative to the container */
  left: 50%;
  transform: translateX(-50%);
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 500rem;
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.8rem;
  color: #888;
  font-weight: 500;
  background: transparent;
  padding: 10px 15px;
  border-radius: 50px;
}

.search-bar input::placeholder {
  color: #adb5bd;
  /* font-style: italic; */
}

.search-bar button {
  background: linear-gradient(to right, #0284c7, #c026d3);
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-bar button:hover {
  color: #ffffff;
  /* padding: 12px 24px; */
  font-size: 1.8rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  /* gap: 1.6rem; */
  width: 100%;
  margin-top: 2.4rem;
  margin-bottom: 9.6rem;
}

.placement-text {
  text-align: center;
  margin-top: 2rem;
  font-size: 4.8rem;
  font-weight: 700;
  background: linear-gradient(to right, #67e8f9, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.app-desc {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #eebefa;
}

.cards {
  /* background-color: white; */
  /* margin-bottom: 8rem; */
  display: flex;

  font-size: 2rem;
}

.card {
  background-color: #303030;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: auto;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  overflow: hidden;
  position: relative;
}

.card__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.card__genres {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  font-size: 1.3rem;
  margin-bottom: 2.4rem;
  margin-top: 1.2rem;
}

.card__genre {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.card__genre.action {
  background-color: #f8d7da;
  color: #721c24;
}

.card__genre.science {
  background-color: #d4edda;
  color: #155724;
}

.card__genre.fiction {
  background-color: #fff3cd;
  color: #856404;
}

.card__genre.adventure {
  background-color: #cce5ff;
  color: #004085;
}

.card__genre.comedy {
  background-color: #d1ecf1;
  color: #0c5460;
}

.card__genre.animation {
  background-color: #f0abfc;
  color: #701a75;
}

.card__genre.crime {
  background-color: #d6d8d9;
  color: #6c757d;
}

.card__genre.documentary {
  background-color: #fca5a5;
  color: #7c2d12;
}

.card__genre.drama {
  background-color: #d9f99d;
  color: #365314;
}

.card__genre.family {
  background-color: #f8d7da;
  color: #721c24;
}

.card__genre.fantasy {
  background-color: #d4edda;
  color: #155724;
}

.card__genre.fiction {
  background-color: #fff3cd;
  color: #856404;
}

.card__genre.foreign {
  background-color: #cce5ff;
  color: #004085;
}

.card__genre.history {
  background-color: #d1ecf1;
  color: #0c5460;
}

.card__genre.horror {
  background-color: #f0abfc;
  color: #701a75;
}

.card__genre.movie {
  background-color: #d6d8d9;
  color: #6c757d;
}

.card__genre.music {
  background-color: #fca5a5;
  color: #7c2d12;
}

.card__genre.mystery {
  background-color: #d9f99d;
  color: #365314;
}

.card__genre.romance {
  background-color: #f8d7da;
  color: #721c24;
}

.card__genre.science {
  background-color: #d4edda;
  color: #155724;
}

.card__genre.thriller {
  background-color: #fff3cd;
  color: #856404;
}

.card__genre.tv {
  background-color: #cce5ff;
  color: #004085;
}

.card__genre.war {
  background-color: #d1ecf1;
  color: #0c5460;
}

.card__genre.western {
  background-color: #f0abfc;
  color: #701a75;
}

.card__heading:link,
.card__heading:visited {
  font-size: 2.7rem;
  margin-bottom: 1.2rem;
  color: #bebebe;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
}

.card__heading:hover {
  color: #007bff;
}

.card__subheading {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  /* color: #888; */
  color: #c4c4c4;
}

.card__row:not(:last-child) {
  margin-bottom: 1rem;
}

.card__row {
  color: #bebebe;
  font-weight: 700;
}
.card__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.card.card_first::after {
  content: "No.1 RECOMMENDED";
  position: absolute;
  top: 9%;
  right: -30%;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  background-color: #dc2626;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
